.container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center; 
    background-color: var(--primary-background);
    padding: 2rem;

    border-radius: 4px;
    border-left: solid 0.5rem var(--pink);

    box-shadow: 0 4px 8px 0 rgba(40,44,53,.06), 
                0 2px 2px 0 rgba(40,44,53,.06);

    box-sizing: border-box;
    -webkit-animation: shake-horizontal 0.8s ease-in-out alternate both;
	        animation: shake-horizontal 0.8s ease-in-out alternate both;


}

.container .icon{
    width: 2rem;
    height: 2rem;
    font-weight: 500;
}

.container .msg,
.msgSignUp, 
.errorLink{
    font-size: var(--lengthM3);

    font-weight: 200;
    color: var(--white);
    font-family: var(--main-font);

    display: inline;
}

.container .msg{
    display: flex;
    flex-direction: column;

}

.errorLink{
  color: var(--pink);
}

.errorLink:hover{
  cursor: pointer;
  text-decoration: underline;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-4-9 6:5:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    70% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    70% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
  }
  
