
.buttonlist {
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 2rem;
}


.buttons {
  border-radius: 0.4rem;
  color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
  border-image: linear-gradient(to left, var(--orange), var(--pink)) 1 / 2px;
  position: relative;
  background: linear-gradient(to left, transparent 50%, var(--pink) 100%) right,
  linear-gradient(to left, transparent 50%, var(--orange) 50%) right;
  background-size: 200%;
  transition: 0.4s ease-out;
  margin: 3% 0 2% 0;
  font-size : var(--lengthM3);
  font-weight: bold;
  width: 20%;
  right:0;
  background-color: #0c0101;
  text-align: center;
  padding: 1rem 0.8rem;
  
}

.buttons:hover {
  background-position: left;
}

.buttons>p{
  font-size: var(--lengthM3);
  font-style: var(--main-font);
}