.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color : white;
    text-align: center;
    overflow-x:hidden;
}

.body {
    padding: 1%;
}

.title {
    font-weight: 700;
    background: linear-gradient(to right bottom, #b80000, #e2bf23);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: var(--lengthL2);
}

.mainImg {
    position: relative;
    width:100%;
    height: 70vh;
    z-index: 2;
    overflow-x:hidden;
}


.buttons {
    height: 4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-image: linear-gradient(to left, #b80000, #e2bf23) 1 / 2px;
    position: relative;
    background: linear-gradient(to left, transparent 50%, #e2bf23 100%) right,
    linear-gradient(to left, transparent 50%, #b80000 50%) right;
    background-size: 200%;
    transition: 0.4s ease-out;
    margin-top: 5%;
    font-size : var(--lengthM3);
    font-weight: bold;
    width: 50%;
    background-color: #0c0101;
    
}

.buttons p{
    text-align: center;
    background: linear-gradient(to right bottom, #b80000, #e2bf23);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.buttons:hover {
    background-position: left;
}

.buttons:hover p{
    background: white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 0.15s;
}

.buttons>p{
    font-size: var(--lengthM3);
    font-style: var(--main-font);
}
