
.genericmodal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(57, 54, 79, 0.068);
}


.bookingcontainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.modalclose {
  position: absolute !important;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  z-index: 1000;
  
}
.btnclose{
  color:var(--pink)
}
.modalclose:hover {

  background-color: rgba(0, 0, 0, 0.636) !important;

}
.iconcontainer{
  width:6rem;
  height:6rem;
  border-radius: 50%;
  display: flex;
  padding: .5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color:transparent;

  
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
 padding: 8%;
  justify-content: center;
  align-items: center;
  row-gap: 1.6rem;
  margin: auto;
  background-color: var(--primary-background);
  position: relative;
  border: solid 0.05rem var(--pink);
  
}
.infoheader {
  text-align: center;
  font-size: var(--lengthM2);
  max-width: 80%;
  margin: auto;
  color: var(--white);
  line-height: 3rem;
  font-family: var(--main-font)
  
}

.infoheader h1 {
  text-align: center;
  margin: 1.6rem auto;
  padding-bottom: 2rem;
  padding-top: 1rem;
  line-height: 4rem;
  color:var( --green);
  font-family: var(--main-font);
  width: 90%;

  font-weight: 500;
  font-size: var(lengthL2);
  
}

.infoheader p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.infoheader .moreDetails{

  font-size: 1.4rem;
}


.btncontainer {
  width: 60%;
  margin: auto;
  justify-content: center;
  display: flex;
}

.btncontainer button {
  width: 80%;
  font-size: 1.4rem;
  padding: 1.7rem 0;

  font-weight: 600;
  border-radius: 3px;
  margin-top: 1.8rem;
}
.btncontainer button p {
  text-align: center;
}
.btncontainer button:hover {
  cursor: pointer;
}
.modalbuttons{
  display: flex;
  direction: row;
  width:70%;
  margin: auto;
  justify-content: space-between;


}
.staybutton {
  color: var(--green);
  border: 2px solid #a9a8b3;
  background: none;
}

.leavebutton {
  background-color: var(--gradientFill);
  color: white;
  border: none;
}

.staybutton:hover, .leavebutton:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (max-width: 660px) {
  .modalbox {
    width: 100%;
    height: 100%;

    max-height: max-content;
  }
}

@media screen and (max-width: 790px) {
  .info {
    width: 85%;
  }
}

@media screen and (max-width: 960px) {


  .btn {
    border: 0;
    border-radius: 0;
    /* box-shadow: 0 -1px 24px rgba(40,44,53,.1), 0 -2px 8px rgba(40,44,53,.1); */
  }
}