.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    align-items: center;
    padding: 1%;
    color: var(--orange);
    font-size: var(--lengthL3);
}

.subheader{
    align-items: center;
    padding: 1%;
    color: var(--orange);
    font-size: var(--lengthL2);
}

.userList {
    position: relative;
    width : 30%;
}

@media screen and (max-width: 46rem){
    .admin>aside{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        max-height: 18rem;
        max-width: unset;
    }
}