/* footer.module.css */

.footer {
  display: flex;
  flex-direction: row;
  height: 7vh;
  background: var(--secondary-background);
  align-items: center;
  font-size: var(--lengthM2);
  margin-top: 2rem;
}

.footerContent {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5%;
}

.socialIcons {
  position: relative;
  left : 31%;
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 24px; /* Adjust the font size as needed */
  transition: color 0.3s; /* Smooth color transition */
}

.contactus {
  position:absolute;
  right : 0px;
  padding-right: 5%;
}

.contactus:hover {
  color: #ff6600;
  cursor: pointer;
}

.icon:hover {
  color: #ff6600;
  cursor: pointer;
}

